<div id="loginID" class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4" *ngIf="onShowLogin">
              <div class="card-body">
                <form [formGroup]="loginForm" (submit)="login()">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input [(ngModel)]="userNameLogin" type="text" class="form-control" maxlength="10" formControlName="username" placeholder="Username"
                      autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input [(ngModel)]="userPasswordLogin" type="password" class="form-control" formControlName="password" placeholder="Password"
                      autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="message-alert" *ngIf="errorLogin === 0">Please enter the username !</p>
                      <p class="message-alert" *ngIf="errorLogin === 1">Please enter the password !</p>
                      <p class="message-alert" *ngIf="errorLogin === 2">Please enter the username and password !</p>
                      <p class="message-alert" *ngIf="errorLogin === 3">Server error !</p>
                      <p class="message-alert" *ngIf="errorLogin === 4">Wrong password or username !</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card p-4" *ngIf="onShowRegister">
              <form [formGroup]="registerForm" (submit)="register()">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input [(ngModel)]="userNameRegister"  type="text" class="form-control" maxlength="10" formControlName="username" placeholder="Username"
                    autocomplete="username" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input [(ngModel)]="passWordRegister"  type="password" class="form-control" formControlName="password" placeholder="Password"
                    autocomplete="current-password" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input [(ngModel)]="confirmPassWordRegister"  type="password" class="form-control"  formControlName="passwordconfirm"
                    placeholder="Confirm Password" autocomplete="passwordconfirm" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input [(ngModel)]="emailRegister" type="text" class="form-control" formControlName="email"
                    placeholder="Email" autocomplete="email" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input [(ngModel)]="fullnameRegister" type="text" class="form-control" formControlName="fullname"
                    placeholder="Full name" autocomplete="fullname" required>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="message-alert" *ngIf="errorRegister === 7">Password have to 8 characters !</p>
                    <p class="message-alert" *ngIf="errorRegister === 8">Pleasr enter full infomation !</p>
                    <p class="message-alert" *ngIf="errorRegister === 9">Password not match !</p>
                    <p class="message-alert" *ngIf="errorRegister === 10">Username already exist !</p>
                    <p class="message-alert" *ngIf="errorRegister === 11">Register successfully !</p>
                    <p class="message-alert" *ngIf="errorRegister === 3">Server error !</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary left-70">Register</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3" (click)="showRegister()" *ngIf="btnRegisterShow">Register Now!</button>
                  <button type="button" class="btn btn-primary active mt-3" (click)="showLogin()" *ngIf="btnLoginShow">Login Now!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>